body{
    background-image: url(../img/fondo31.jpg);
    height:100vh;
    width:100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: Courier;
    margin: 0;
}

header{
    display: flex;
    background-image: url(../img/restos1.jpg);
    height: 100px;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
}

a{
    text-decoration: none;
    font-size: 150%;
}

.contenedor-logo{
    display: flex;
    flex-direction: row;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 150%;
    color: #77dd77;
}
.logo img{
    width: 150px;
    margin-left: 30px;
}

.contenedor-logo .titu{
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    margin-top: 2%;
}

nav{
    display: flex;
    flex-direction: row;
    margin-left: 35%;
}

.boton-lecciones img{
    transition: transform .2s;
    width: 60%;
    padding: 1%;
}
.boton-lecciones img:hover{
    transform: scale(1.5);
    /* background-color: #002060; */
    border-radius: 40%;
}

.boton-ejercicios img{
    transition: transform .2s;
    width: 53%;
}
.boton-ejercicios img:hover{
    transform: scale(1.5);
    /* background-color: green; */
    border-radius: 40%;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
    color:green;
}

nav a:hover{
    color: #49B19D;
}

.contenedor1{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.contenedor1 .contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contenedor1 .contenedor img{
    transition: transform 0.32s ease-in-out;
    width: 80%;
}

.contenedor1 .contenedor img:hover{
    transform: translateY(-20px);
}

.contenedor1 .evaluacion img{
    transition: transform 0.32s ease-in-out;
    width: 40%;
    margin-left: 30%;
}
.contenedor1 .evaluacion img:hover{
    transform: translateY(-20px);
}

@media (max-width: 900px){
    header{
        flex-direction: row;
        font-size: 75%;
    }
    .contenedor-logo{
        flex-direction: row;
        margin-left: -30%;
        margin-top: -5%;
    }
    .contenedor-logo .titu{
        margin-left: 10%;
    }
    .logo img{
        width: 130px;
    }
    nav{
        flex-direction: row;
        margin-left: 80%;
        margin-top: -30%;
        /* padding: 10px 0px; */
    }
    .boton-lecciones img{
        width: 90%;
        padding: 1%;
    }
    .boton-ejercicios img{
        width: 73%;
    }
    .contenedor{
        flex-direction: row;
    }
}

@media (max-width: 758px){
    header{
        flex-direction: column;
        font-size: 80%;
    }
    nav{
        padding: 10px 0px;
    }
    .titu{
        margin-left: 15%;
    }
    .logo img{
        width: 100px;
    }
    .contenedor{
        flex-direction: row;
    }
}

@media (max-width: 720px){
    header{
        flex-direction: column;
        font-size: 80%;
    }
    nav{
        padding: 10px 0px;
    }
    .titu{
        margin-left: 15%;
    }
    .logo img{
        width: 100px;
    }
    .contenedor{
        flex-direction: row;
    }
}

@media (max-width: 520px){
    header{
        flex-direction: column;
        font-size: 50%;
    }
    nav{
        padding: 10px 0px;
    }
    .titu{
        margin-left: 0%;
    }
    .logo img{
        width: 70px;
    }
    .contenedor{
        flex-direction: row;
    }
    .contenedor img{
        margin-top: 100%;
        width: 90%;
    }
}