body{
    font-family: Courier;
    margin: 0;
}

header{
    background-image: url(../img/restos1.jpg);
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* align-content: center; */
    /* padding: 10px; */
}

.contenedor-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contenedor-logo .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.contenedor-logo .logo img{
    width: 150px;
}

.titu{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.titu img{
    width: 50%;
}

nav{
    display: flex;
    flex-direction: row;
}

.boton-lecciones img{
    transition: transform .2s;
    width: 60%;
    padding: 1%;
}
.boton-lecciones img:hover{
    transform: scale(1.5);
    /* background-color: #002060; */
    border-radius: 40%;
}

.boton-ejercicios img{
    transition: transform .2s;
    width: 53%;
}
.boton-ejercicios img:hover{
    transform: scale(1.5);
    /* background-color: green; */
    border-radius: 40%;
}

section{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
}

.contenedor{
    border: solid 1px;
    width: 950px;
    height: 543px;
    background-image: url(../img/zoologico.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.contenedor .monos img{
    width: 240%;
    margin-left: 35%;
    margin-top: 20%;
}
.contenedor .monos img:hover{
    border: solid 5px purple;
}

.contenedor .pinguinos img{
    width: 233%;
    margin-left: -89%;
    margin-top: 127%;
}
.contenedor .pinguinos img:hover{
    border: solid 5px purple;
}

.contenedor .jirafas img{
    width: 233%;
    margin-left: -140%;
    margin-top: 165%;
}
.contenedor .jirafas img:hover{
    border: solid 5px purple;
}

.contenedor .leones img{
    width: 230%;
    margin-left: -25%;
    margin-top: 110%;
}
.contenedor .leones img:hover{
    border: solid 5px purple;
}

.contenedor .zebras img{
    width: 230%;
    margin-left: -45%;
    margin-top: 3%;
}
.contenedor .zebras img:hover{
    border: solid 5px purple;
}

.contenedor .pandas img{
    width: 240%;
    margin-left: 30%;
    margin-top: 70%;
}
.contenedor .pandas img:hover{
    border: solid 5px purple;
}

.contenedor .elefantes img{
    width: 230%;
    margin-left: -100%;
    margin-top: 163%;
}
.contenedor .elefantes img:hover{
    border: solid 5px purple;
}

.contenedor .tienda img{
    width: 250%;
    margin-left: -1235%;
    margin-top: 40%;
}
.contenedor .tienda img:hover{
    border: solid 5px purple;
}