body{
    font-family: Courier;
    margin: 0;
}

/* INICIO DE HEADER */
header{
    background-image: url(../img/restos1.jpg);
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* align-content: center; */
    /* padding: 10px; */
}

.contenedor-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contenedor-logo .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.contenedor-logo .logo img{
    width: 150px;
}

.titu{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.titu img{
    width: 50%;
}

nav{
    display: flex;
    flex-direction: row;
}

.boton-lecciones img{
    transition: transform .2s;
    width: 60%;
    padding: 1%;
}
.boton-lecciones img:hover{
    transform: scale(1.5);
    /* background-color: #002060; */
    border-radius: 40%;
}

.boton-ejercicios img{
    transition: transform .2s;
    width: 53%;
}
.boton-ejercicios img:hover{
    transform: scale(1.5);
    /* background-color: green; */
    border-radius: 40%;
}
/* FIN DE HEADER */

section{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    align-content: flex-end;
}

.contenedor{
    border: solid 1px;
    width: 950px;
    height: 540px;
    background-image: url(../img/leon-fondo.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contenedor h1{
    text-align: center;
    color: white;
    font-family: cursive;
    font-size: 30px;
}

.contenedor .sopa1 {
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.contenedor .sopa2 {
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.contenedor .sopa3 {
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.contenedor .sopa4 {
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.b{
  border: 5px solid #13f1c1;
  border-radius: 50px;
  width: 80px;
  height: 80px;
  background-color: #00000071;
  cursor: pointer;
}
.b p{
  margin-top: 5px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 20px;
  font-size: 50px;
  font-family: cursive;
  color: beige;
}
.b:hover{
  background-color: rgb(87, 243, 82);
}

.d{
    border: 5px solid #13f1c1;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    background-color: #00000071;
    cursor: pointer;
}
.d p{
    margin-top: 5px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 20px;
  font-family: cursive;
  font-size: 50px;
  color: beige;
}
.d:hover{
    background-color: rgb(87, 243, 82);
}

.p{
    border: 5px solid #13f1c1;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    background-color: #00000071;
    cursor: pointer;
}
.p p{
    margin-top: 5px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 20px;
  font-family: cursive;
  font-size: 50px;
  color: beige;
}
.p:hover{
    background-color: rgb(87, 243, 82);
}

.q{
    border: 5px solid #13f1c1;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    background-color: #00000071;
    cursor: pointer;
}
.q p{
    margin-top: 5px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 20px;
  font-family: cursive;
  font-size: 50px;
  color: beige;
}
.q:hover{
    background-color: rgb(87, 243, 82);
}

.letras {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.letras input {
    width: 20%;
    height: 20%;
    margin-top: 10%;
    margin-left: 2%;
}

.letras .letras1 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: stretch;
}

.letras .letras1 .letra-b {
    display: flex;
    flex-direction: row;
}

.letras .letras1 .letra-d {
    display: flex;
    flex-direction: row;
}

.letras .letras2 .letra-p {
    display: flex;
    flex-direction: row;
}

.letras .letras2 .letra-q {
    display: flex;
    flex-direction: row;
}

.letras .letras1 p{
    color: black;
    font-family: cursive;
    font-size: 25px;
}

.letras .letras2 p{
    color: black;
    font-family: cursive;
    font-size: 25px;
}

.letras .verificar #submit{
    padding: 20px 30px;
    background-image: url(../img/tronoco.png);
    color: white;
    font-family: cursive;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15%;
}

.marcador{
    width: 400px;
    height: 540px;
    background-image: url(../img/leon-fondo.png);
    background-size: cover;
}

.marcador img{
    width: 60%;
    margin-left: 30%;
}

.marcador p{
    text-align: center;
    color: black;
    font-family: cursive;
    font-size: 50px;
}