body{
    background-image: url(../img/zoologico.jpg);
    height:100vh;
    width:100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: Courier;
    margin: 0;
}

.monos{
    margin-left: 3.5%;
    margin-top: -5.5%;
}

.monos img{
    transition: transform .2s;
    /* transition: transform 0.32s ease-in-out; */
    width: 25%;
}
.monos img:hover{
    transform: scale(1.1);
    background-color: #B4F47C;
    /* transform: translateY(-20px); */
}

.pinguinos{
    margin-left: -.5%;
    margin-top: -4%;
}

.pinguinos img{
    transition: transform .2s;
    width: 27%;
}
.pinguinos img:hover{
    transform: scale(1.1);
    background-color: #7ED7FE;
}

.jirafas{
    margin-left: -.4%;
    margin-top: -6.5%;
}

.jirafas img{
    transition: transform .2s;
    width: 35%;
}
.jirafas img:hover{
    transform: scale(1.1);
    background-color: #CEF7B3;
}

.leones{
    margin-left: 32%;
    margin-top: -35%;
    position: relative;
}

.leones img{
    transition: transform .2s;
    width: 50%;
}
.leones img:hover{
    transform: scale(1.1);
    background-color: #5CB012;
}

.zebras{
    margin-left: 40%;
    margin-top: -38%;
}

.zebras img{
    transition: transform .2s;
    width: 60%;
}
.zebras img:hover{
    transform: scale(1.1);
    background-color: #9FEF6C;
}

.pandas{
    margin-left: 70%;
    margin-top: -8%;
    position: relative;
}

.pandas img{
    transition: transform .2s;
    width: 100%;
}
.pandas img:hover{
    transform: scale(1.1);
    background-color: #734B17;
}

.elefantes{
    margin-left: 60%;
    margin-top: -1%;
}

.elefantes img{
    transition: transform .2s;
    width: 100%;
}
.elefantes img:hover{
    transform: scale(1.1);
    background-color: #64DEFD;
}

.tienda{
    margin-left: 31%;
    margin-top: -40%;
}

.tienda img{
    transition: transform .2s;
    width: 15%;
}
.tienda img:hover{
    transform: scale(1.1);
    background-color: #E3DBAF;
}