body{
    font-family: Courier;
    margin: 0;
}

/* INICIO DE HEADER */
header{
    background-image: url(../img/restos1.jpg);
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* align-content: center; */
    /* padding: 10px; */
}

.contenedor-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contenedor-logo .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.contenedor-logo .logo img{
    width: 150px;
}

.titu{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.titu img{
    width: 50%;
}

nav{
    display: flex;
    flex-direction: row;
}

.boton-lecciones img{
    transition: transform .2s;
    width: 60%;
    padding: 1%;
}
.boton-lecciones img:hover{
    transform: scale(1.5);
    /* background-color: #002060; */
    border-radius: 40%;
}

.boton-ejercicios img{
    transition: transform .2s;
    width: 53%;
}
.boton-ejercicios img:hover{
    transform: scale(1.5);
    /* background-color: green; */
    border-radius: 40%;
}
/* FIN DE HEADER */

section{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    align-content: flex-end;
}

.contenedor{
    border: solid 1px;
    width: 1500px;
    height: 550px;
    background-image: url(../img/jirafa-fondo.jpg);
    background-size: cover;
  
}

.contenedor p{
    text-align: center;
    color: black;
    font-family: cursive;
    font-size: 30px;
}

.letter {
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin: 10px;
    position: absolute;
}
.letter-ardilla {
    
    background-image: url("../../img/ardilla.png");
    top: 80%;
    left: 68%;
}
.letter-ballena{
    background-image: url("../../img/ballena.png");
    top: 80%;
    left: 48%;
}
.letter-bici{
    height: 18%;
    background-image: url("../../img/bici.png");
    top: 65%;
    left: 8%;
}
.letter-botas{
    background-image: url("../../img/botas.png");
    top: 67%;
    left: -2%;
}
.letter-buho1{
    background-image: url("../../img/buho1.png");
    top: 27%;
    left: 68%;
}
.letter-cocodrilo{
    background-image: url("../../img/cocodrilo.png");
    top: 80%;
    left: 4%;
}
.letter-caballo{
    background-image: url("../../img/caballo.png");
    top: 67%;
    left: 60%;
}
.letter-delfin{
    background-image: url("../../img/delfin.png");
    top: 75%;
    left: 20%;
}
.letter-dados1{
    background-image: url("../../img/dados1.png");
    top: 25%;
    left: 55%;
}
.letter-durazno{
    background-image: url("../../img/durazno.png");
    height: 16%;
    top: 30%;
    left: 17%;
}
.letter-dinos{
    background-image: url("../../img/dinos.png");
    
    top: 40%;
    left: 5%;
}
.letter-elefant{
    background-image: url("../../img/elefant.png");
    
    top: 65%;
    left: 35%;
}
.letter-foca{
    background-image: url("../../img/foca.png");
    
    top: 80%;
    left: 15%;
}
.letter-jirafales{
    background-image: url("../../img/jirafales.png");
    top: 60%;
    left: 47%;
}
.letter-koala{
    background-image: url("../../img/koala.png");
    top: 50%;
    left: 15%;
}
.letter-mapache{
    background-image: url("../../img/mapache.png");
    top: 50%;
    left: 25%;
}
.letter-patos{
    height: 15%;
    width: 9%;
    background-image: url("../../img/patos.png");
    top: 87%;
    left: 30%;
}
.letter-perezoso{
    background-image: url("../../img/perezoso.png");
    top: 87%;
    left: 30%;
}
.letter-pez{
    height: 15%;
    width: 9%;
    background-image: url("../../img/pez.png");
    top: 87%;
    left: 40%;
}
.contenedor .botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: -34%;
}

button {
    background-image: url(../img/suelo.jpeg);
    background-size: cover;
    font-family: cursive;
    border-radius: 15%;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

.marcador{
    border: solid 1px black; 
    width: 400px;
    height: 540px;
    background-image: url(../img/tronoco.png);
    background-size: cover;
}

.marcador img{
    /* background-color: aqua; */
    width:100%;
    /* margin-left: -11%; */
}

.marcador p{
    text-align: center;
    color: yellow;
    font-family: cursive;
    font-size: 50px;
}