body{
    background-image: url(../img/fondo31.jpg);
    height:100vh;
    width:100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: Courier;
    margin: 0;
}

header{
    display: flex;
    /* background-color: #77dd77; */
    background-image: url(../img/restos1.jpg);
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

a{
    text-decoration: none;
    font-size: 150%;
}

.contenedor-logo{
    display: flex;
    flex-direction: row;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 150%;
    color: #002060;
}
.logo img{
    width: 150px;
    margin-left: 30px;
}

.titu{
    display: flex;
    flex-direction: column;
    font-size: 250%;
    color: #002060;
    margin-left: 50%;
}

nav{
    display: flex;
    flex-direction: row;
}

.body2 .boton-lecciones{
    width: 50%;
    height: 20%;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
    color: white;
}

nav a:hover{
    color: #49B19D;
}


.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contenedor img{
    transition: transform 0.32s ease-in-out;
    width: 80%;
}

.contenedor img:hover{
    transform: translateY(-20px);
}

@media (max-width: 758px){
    header{
        flex-direction: row;
        font-size: 75%;
    }
    .contenedor-logo{
        flex-direction: row;
        margin-left: -5%;
    }
    nav{
        padding: 10px 0px;
    }
    .titu{
        margin-left: 4%;
    }
    .logo img{
        width: 130px;
    }
    .contenedor{
        flex-direction: row;
    }
}

@media (max-width: 720px){
    header{
        flex-direction: row;
        font-size: 50%;
    }
    nav{
        padding: 10px 0px;
    }
    .titu{
        margin-left: 15%;
    }
    .logo img{
        width: 100px;
    }
    .contenedor{
        flex-direction: row;
    }
}

@media (max-width: 520px){
    header{
        flex-direction: column;
        font-size: 50%;
    }
    .contenedor-logo{
        flex-direction: row;
        font-size: 50%;
    }
    nav{
        padding: 10px 0px;
    }
    .titu{
        margin-left: 0%;
    }
    .logo img{
        width: 70px;
    }
    .contenedor{
        flex-direction: row;
    }
    .contenedor img{
        margin-top: 100%;
        width: 90%;
    }
}

/*ESTILOS DE IZQUIERDA*/
/* .bodyIzq{
    background-image: url(../img/fondo31.jpg);
    height:100vh;
    width:100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: Courier;
}


.titu-izquierda{
    font-size: 60px;
    font-family:'Courier New', Courier, monospace;
    margin-right: 40%;
    color:  #002060;
}

.audio-izq{
    margin-left: 15cm;
    margin-bottom: -cm;
}

.img-izq img{
    margin-bottom: 26cm;
    margin-left: 9cm;
    width: 870px;
}

.boton-reg img{
    margin-left: 2cm;
    margin-top: -5cm;
    width: 200px;
}
.boton-sig img{
    margin-top: -6.2cm;
    margin-left: 29cm;
    width: 200px;

} */


/* ESTILOS DE MENU EJERCICIOS */
/* .body3{
    background-image: url(../img/fondo31.jpg);
    height:100vh;
    width:100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: Courier;
}

.titu-menu-ejercicios{
    font-size: 60px;
    font-family:'Courier New', Courier, monospace;
    margin-right: 18%;
    margin-left: 23%;
    color: #002060;
} */