body{
  height: 637px;
    background-image: url(../img/fondo31.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Courier;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
}

.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.presentacion .instrucciones{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.presentacion .instrucciones img{
    width: 40%;
}


.presentacion .botones{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
}


.presentacion .botones .lecciones{
    transition: transform 0.32s ease-in-out;
    margin-top: -7%;
    margin-left: 55%;
}

.presentacion .botones .lecciones:hover{
    transform: translateY(-20px);
}

.presentacion .botones .ejercicios{
    transition: transform 0.32s ease-in-out;
    margin-top: -8%;
    margin-left: 25%;
}

.presentacion .botones .ejercicios:hover{
    transform: translateY(-20px);
}

@media (max-width: 608px){
  body{
      align-items: center;
      align-content: center;
      justify-content: center;
  }

  .presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
}